html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

svg {
  width: 100%;
  height: auto;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.input {
  flex: 0;
  flex-basis: 14em;
  display: flex;
  flex-direction: column;
}

.input textarea {
  flex: 1;
}

.output {
  flex: 1;
  display: flex;
}
